.cars {
  padding: 80px 0;
  width: 80%;
  margin: auto;
  font-family: sans-serif;

  h4,
  h1 {
    text-align: center;
  }

  h4 {
    margin-bottom: 1rem;
    color: #c3c3c3;
    text-transform: uppercase;
  }

  h1 {
    width: 40%;
    margin: auto;
    line-height: 1.5;
    margin-bottom: 3rem;
  }

  .items {
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .active {
        background-color: orangered;
        color: #ddd;
      }

      li {
        list-style: none;
        background-color: #ddd;
        padding: 0.2rem 1rem;
        border-radius: 5px;
        margin-right: 2rem;
        cursor: pointer;

        &:hover {
          background-color: #c3c3c3;
        }

        .item {
          display: flex;
          align-items: center;
          gap: 0.3rem;

          img {
            width: 2rem;
            height: 2rem;
            object-fit: cover;
          }
        }
      }
    }
  }

  .carsComp {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    .car-item {
      position: relative;

      .car {
        border: 1px solid #ddd;
        background-color: #edecec;
        border-radius: 1rem;
        padding: 1rem;
        margin-left: 1rem;

        p {
          font-size: 0.8rem;
        }
      
        img {
          width: 100%;
          height: 20rem;
          object-fit: cover;
          background-color: #fff;
          border-radius: 1rem;
          margin-bottom: 0.5rem;
        }

        p.model {
          margin-bottom: 0.5rem;
        }

        h3 {
          margin-bottom: 0.5rem;
        }

        .price {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 1rem;

          h5 {
            color: #9d9b9b;
          }
        }

        .capacity {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .item {
            display: flex;
            align-items: center;
          }

          button {
            background-color: orangered;
            color: #c3c3c3;
            border: none;
            padding: 0.5rem 0.5rem;
            border-radius: 5px;
            cursor: pointer;
          }
        }
      }
    }
  }

  @media (max-width: 900px) {
    h1 {
      width: 100%;
    }

    .items {
      ul {

        li {
          padding: 0.1;
          font-size: 0.5rem;
          margin-right: 1rem;

          .item {
            img {
              width: 1rem;
              height: 1rem;
            }
          }
        }
      }
    }
  }
}
