.search {
  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    padding: 2rem;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    gap: 1rem;
    box-shadow: 0 0 5px rgba($color: #000000, $alpha: 1);

    .icon {
      display: flex;
      align-items: center;
      cursor: pointer;
      font-size: 0.9rem;

      span {
        font-family: "Inter", sans-serif;
        font-weight: 600;
      }
    }

    button {
      padding: 0.5rem 2rem;
      border: none;
      background-color: #ff4500;
      color: #fafafa;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: #f5622c;
      }
    }
  }

  @media (max-width: 900px) {
    .search-container {
      // display: grid;
      // grid-template-columns: repeat(3, 1fr);
      padding: 1rem;
      top: 33%;
      width: 20rem;

      .icon {
        font-size: 0.5rem;
        border: 1px solid #000000;
        width: 5rem;

        .iconn {
          font-size: 1rem;
        }
      }

      button {
        padding: 0.3rem 1rem;
        font-size: 0.6rem;
      }
    }
  }
}
