.footer {
  padding: 10px 0;
  background-color: #000;
  color: #ddd;

  .logo {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: sans-serif;

    h1 {
      margin-bottom: 0.5rem;
      font-size: 1.4rem;
    }

    p {
      font-size: 0.8rem;
    }
  }
}
@media (max-width: 900px) {
  .footer {
    padding: 30px 0;

    .logo {
      h1 {
        font-size: 1rem;
      }

      p {
        font-size: 0.7rem;
      }
    }
  }
}
